# Local python virtualenv
.venv/

# Local secrets (do not commit)
.secrets/
.env
.env.local

# ignorer data par défaut
data/**

# python
__pycache__/
*.pyc
*.log
*.tmp

# terraform
.terraform/
lambda.zip
out.json
# Ignorer tous les fichiers tfstate sauf ceux dans export/
*.tfstate
*.tfstate.backup
!export/terraform.tfstate
!export/terraform.tfstate.backup